<nav class="navbar navbar-expand-lg bg-light position-static bottom-0 d-flex justify-content-center" 
data-bs-theme="light" style="width: 100%;">
    <div>

        <div class="container-fluid d-flex justify-content-around" style="width: 90vw; padding: 0;">
            <div>
                <h3 class="">Horaires d'ouverture</h3>
                <ul>
                    <li class="" style="list-style: none;">Lundi : Fermé</li>
                    <li class="" style="list-style: none;">Mardi : Fermé</li>
                    <li class="" style="list-style: none;">Mercredi : Fermé</li>
                    <li class="" style="list-style: none;">Jeudi : Fermé</li>
                    <li class="" style="list-style: none;">Vendredi : Fermé</li>
                    <li class="" style="list-style: none;">Samedi : Fermé</li>
                    <li class="" style="list-style: none;">Dimanche : Fermé</li>
                </ul>
            </div>
    
            <div class="d-flex flex-column justify-content-center">
                <a href="http://facebook.com" target="_blank"><i class="fa-brands fa-facebook text-dark"></i></a>
                <a href="http://twitter.com" target="_blank"><i class="fa-brands fa-twitter text-dark"></i></a>
                <a href="http://instagram.com" target="_blank"><i class="fa-brands fa-instagram text-dark"></i></a>
            </div>
        </div>
        <div class="container-fluid d-flex justify-content-center">
            © Copyright Garage Vincent PARROT 2023-<a href="{{ path('app_legal') }}" 
            style="color: rgba(var(--bs-emphasis-color-rgb), 0.65);">Mentions légales</a>
        </div>
    </div>
</nav>