{% extends 'base.html.twig' %}

{% block title %}Mentions légales{% endblock %}

{% block body %}
    <div class="container mt-4">

        <h1 class="mt-4 mb-4 text-center">MENTIONS LEGALES</h1>

        <p style="text-align: justify;">
            <h2 class="mt-4">Identité</h2>
            <p>Nom du site : ecfgparrot</p>
            <p>Adresse du site : https://www.garageParrot.fr</p>

            <p>Propriétaire : Vincent PARROT</p>
            <p>GARAGE PARROT – SARL – au capital de 15000 euros – 
                RCS A000000000 – TVA FR00123456789
                +33510203040 – contact@garageparrot.fr – 10 boulevard de la ville rose, 31000 TOULOUSE</p>
            <p>Responsable de la publication : Vincent PARROT – contact@garageparrot.fr –
                +33510203040</t></p>
            <p>Hébergement du site : HEROKU – 415 Mission Street, bureau 300 San Francisco , Californie 94105</p>
        
            <h2 class="mt-4">Conditions d’utilisation</h2>
            <p>L’utilisation du présent site implique l’acceptation pleine et entière des conditions générales 
                d’utilisation décrites ci-après. Ces conditions d’utilisation sont susceptibles d’être modifiées
                ou complétées à tout moment.</p>

            <h2 class="mt-4">Informations</h2>
            <p>Les informations et documents du site sont présentés à titre indicatif, sans caractère exhaustif, 
                et ne peuvent engager la responsabilité du propriétaire du site.</p>

            <p>Le propriétaire du site ne peut être tenu responsable des dommages directs et indirects consécutifs 
                à l’accès au site.</p>

            <h2 class="mt-4">Interactivité</h2>
            <p>Les utilisateurs du site peuvent y déposer du contenu, apparaissant sur le site dans des espaces 
                dédiés (notamment via les commentaires). Le contenu déposé reste sous la responsabilité de leurs 
                auteurs, qui en assument pleinement l’entière responsabilité juridique.</p>

            <p>Le propriétaire du site se réserve néanmoins le droit de retirer sans préavis et sans justification
                tout contenu déposé par les utilisateurs qui ne satisferait pas à la charte déontologique du site 
                ou à la législation en vigueur.</p>

            <h2 class="mt-4">Propriété intellectuelle</h2>
            <p>Sauf mention contraire, tous les éléments accessibles sur le site (textes, images, graphismes, logo,
                icônes, sons, logiciels, etc.) restent la propriété exclusive de leurs auteurs, en ce qui concerne 
                les droits de propriété intellectuelle ou les droits d’usage.</p>

            <p>Toute reproduction, représentation, modification, publication, adaptation de tout ou partie des éléments
                du site, quel que soit le moyen ou le procédé utilisé, est interdite, sauf autorisation écrite préalable
                de l’auteur.
            </p>
            <p>Toute exploitation non autorisée du site ou de l’un quelconque des éléments qu’il contient est considérée
                comme constitutive d’une contrefaçon et passible de poursuites.</p>

            <p>Les marques et logos reproduits sur le site sont déposés par les sociétés qui en sont propriétaires.</p>

            <h2 class="mt-4">Liens</h2>
            <h3>Liens sortants</h3>
            <p>Le propriétaire du site décline toute responsabilité et n’est pas engagé par le référencement via des 
                liens hypertextes, de ressources tierces présentes sur le réseau Internet, tant en ce qui concerne leur
                contenu que leur pertinence.</p>

            <h3>Liens entrants</h3>
            <p>Le propriétaire du site autorise les liens hypertextes vers l’une des pages de ce site, à condition que
                ceux-ci ouvrent une nouvelle fenêtre et soient présentés de manière non-équivoque afin d’éviter :</p>
            <ul>
                <li>tout risque de confusion entre le site citant et le propriétaire du site</li>
                <li>ainsi que toute présentation tendancieuse, ou contraire aux lois en vigueur.</li>
            </ul>
            <p>Le propriétaire du site se réserve le droit de demander la suppression d’un lien s’il estime que le site
                source ne respecte pas les règles ainsi définies.</p>

            <h2 class="mt-4">Confidentialité</h2>
            <p>Tout utilisateur dispose d’un droit d’accès, de rectification et d’opposition aux données personnelles 
                le concernant, en effectuant sa demande écrite et signée, accompagnée d’une preuve d’identité.</p>

            <p>Le site ne recueille pas d’informations personnelles, et n’est pas assujetti à déclaration à la CNIL.</p>
            <ul>
                <li>Politique de confidentialité : se référer à la page Politique de Confidentialité</li>
                <li>Politique de cookies : se référer à la page Politique des Cookies</li>
            </ul>
        </p>
        
    </div>
{% endblock %}
