<form method="post" action="{{ path('app_hour_delete', {'id': hour.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ces informations ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ hour.id) }}">
    <button class="btn">Supprimer</button>
</form>
