{% extends 'base.html.twig' %}

{% block title %}New Hour{% endblock %}

{% block body %}
    <h1>Create new Hour</h1>

    {{ include('hour/_form.html.twig') }}

    <a href="{{ path('app_hour_index') }}">back to list</a>
{% endblock %}
