{% extends 'base.html.twig' %}

{% block title %}Les occasions{% endblock %}

{% block body %}
    <div class="container mt-4">

        {% for message in app.flashes('success') %}
            <div class="alert alert-success mt-4">
                {{ message }}
            </div>
        {% endfor %}

        {% if not cars.items is same as([]) %}
        
            <h1 class="mb-4">Les occasions du moment</h1>

            <div class="container-sm js-filter">

                <div>
                    {% include 'pages/car/_filter.html.twig' %}
                </div>

                <div class="ms-3 mt-4 js-filter-sorting">
                    {% include 'pages/car/_sorting.html.twig' %}
                </div>

                <div class="d-flex justify-content-between flex-wrap js-filter-content">
                    {% include 'pages/car/_cars.html.twig' %}
                </div>

                <div class="navigation d-flex justify-content-center m-4 js-filter-pagination">
                    {{ knp_pagination_render(cars) }}
                </div>

            </div>

        {% else %}
            Il n'y a pas de véhicules.
        {% endif %}
    </div>
{% endblock %}
